# ASSIGNMENT-1 WEB SCRAPING SOLUTIONS_BeautifulSoup

In [1]:
! pip install bs4
! pip install requests

Requirement already satisfied: bs4 in c:\users\abhimanyu\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\abhimanyu\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\abhimanyu\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\abhimanyu\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhimanyu\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\abhimanyu\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\abhimanyu\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\abhimanyu\anaconda3\lib\site-packages (from requests) (1.25.11)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## 1) Write a python program to display all the header tags from 'https://en.wikipedia.org/wiki/Main_Page'

In [3]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [4]:
# download the page content:
soup = BeautifulSoup(page.content)

#creating empty list
header = []

#scraping header
for i in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header.append(i.text.replace("\n",""))
    
print(header)

['Main Page', "From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages', 'Navigation menu', 'Personal tools', 'Namespaces', 'Variantsexpandedcollapsed', 'Views', 'Moreexpandedcollapsed', 'Search', 'Navigation', 'Contribute', 'Tools', 'Print/export', 'In other projects', 'Languages']

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [5]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.imdb.com/chart/top/')
page

In [6]:
# download the page content:
soup = BeautifulSoup(page.content)

#creating empty lists
name = []
rating = []
year = []

#scraping name and year
for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.split('\n')[2])
    year.append(i.text.split('\n')[3])
    
#scraping ratings
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.split('\n')[1])
    
print(len(name),len(rating),len(year))

250 250 250

In [7]:
# creating database of top 100 movies on the basis of IMDB rating
top_100 = pd.DataFrame({"Ranking":range(1,101),"Name of a movie":name[:100],"Rating (out of 10)":rating[:100],"Year of release":year[:100]})
top_100

,Ranking,Name of a movie,Rating (out of 10),Year of release
0,1,The Shawshank Redemption,9.2,(1994)
1,2,The Godfather,9.1,(1972)
2,3,The Godfather: Part II,9.0,(1974)
3,4,The Dark Knight,9.0,(2008)
4,5,12 Angry Men,8.9,(1957)
...,...,...,...,...
95,96,Jagten,8.3,(2012)
96,97,Requiem for a Dream,8.3,(2000)
97,98,Singin' in the Rain,8.3,(1952)
98,99,North by Northwest,8.3,(1959)
99,100,Eternal Sunshine of the Spotless Mind,8.3,(2004)

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [8]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=W99JK9KBV75GSJ99BFE2&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm')
page

In [9]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
name = []
rating = []
year = []

#scraping name and year
for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.split('\n')[2])
    year.append(i.text.split('\n')[3])

#scraping ratings
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.split('\n')[1])
    
print(len(name),len(rating),len(year))

250 250 250

In [10]:
# creating database of top 100 Indian movies on the basis of IMDB rating
top_100 = pd.DataFrame({"Ranking":range(1,101),"Name of a movie":name[:100],"Rating (out of 10)":rating[:100],"Year of release":year[:100]})
top_100

    Ranking                 Name of a movie Rating (out of 10) Year of release
0         1                        Jai Bhim                8.5          (2021)
1         2               Pariyerum Perumal                8.5          (2018)
2         3                         Nayakan                8.5          (1987)
3         4                      Anbe Sivam                8.5          (2003)
4         5               C/o Kancharapalem                8.5          (2018)
..      ...                             ...                ...             ...
95       96             Munna Bhai M.B.B.S.                8.1          (2003)
96       97                       Sarfarosh                8.1          (1999)
97       98                           Queen                8.1          (2013)
98       99                            Roja                8.1          (1992)
99      100        Uri: The Surgical Strike                8.1          (2019)

[100 rows x 4 columns]

## 4) Write a python program to scrape product name, price and discounts from 'https://meesho.com/bags-ladies/pl/p7vbp'

In [11]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [12]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
name = []
price = []
discount = []

#scraping name
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    name.append(i.text)

#scraping price
for i in soup.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr"):
    price.append(i.text.split("₹")[1])

#scraping discount
for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    discount.append(i.text)


print(len(name),len(price),len(discount))

20 20 20

In [13]:
# Creating data frame 
df = pd.DataFrame({"Product Name":name, "price in ₹":price, "discount":discount})
df

                                         Product Name price in ₹ discount
0                          Elite Fancy Women Handbags        103  30% off
1             Moon Mart Latest girls and kids Handbag        215  30% off
2                 Ravishing Attractive Women Handbags        383  21% off
3                      Ravishing Fancy Women Handbags          7  30% off
4                       Elite Alluring Women Handbags        383  21% off
5                       jeanspatterncaplady Handbags         105  30% off
6                                           Jute Bags        434  19% off
7   Benicia Giraffe Print Poly Canvas Tote Bag wit...        200  30% off
8                                          Hend bags         285  26% off
9                                            Handbags        100  30% off
10                                   SHA-LUXE Handbag        305  25% off
11                                          Handbags         105  30% off
12                  Voguish Attractive Women Handbags        383  21% off
13                         Elite Fancy Women Handbags        323  24% off
14                                    ladies handbags        245  29% off
15                     Voguish Stylish Women Handbags         12  29% off
16          Women PINK  Shoulder Bag - Extra Spacious        199  30% off
17                                   canvasgreenleafy        105  30% off
18                     Classic Stylish Women Handbags          9  25% off
19                                      jutefloralbag        103  30% off

## 5) Write a python program to scrape cricket rankings from 'icc-cricket.com' You have to scrape:
* a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
* b) Top 10 ODI Batsmen along with the records of their team and rating.
* c) Top 10 ODI bowlers along with the records of their team and rating.

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [14]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [15]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
team = []
matches = []
points = []
rating = []

#scraping team
for i in soup.find_all('span', class_="u-hide-phablet"):
    team.append(i.text)

#scraping matches played by team 
for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[::2]:
    matches.append(i.text)

#scraping points
for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[1::2]:
    points.append(i.text)

#scraping ratings
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

# Creating data frame 
df = pd.DataFrame({"rank":range(1,11),"Team":team[:10],"Matches":matches[:10] ,"Points":points[:10] ,"Rating":rating[:10]})
df.to_csv('top_10_odi_teams.csv',index = False)
print(df)

   rank          Team Matches Points Rating
0     1   New Zealand      32  3,793    119
1     2       England      28  3,244    116
2     3     Australia      32  3,624    113
3     4         India      25  2,459     98
4     5  South Africa      27  2,524     93
5     6      Pakistan      30  2,740     91
6     7    Bangladesh      30  2,523     84
7     8   West Indies      32  2,657     83
8     9     Sri Lanka      17  1,054     62
9    10   Afghanistan       7    336     48

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [16]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [17]:
soup = BeautifulSoup(page.content) #download the page content.

Rank = range(1,11)
#creating empty lists
name = []
team = []
rating = []

# scraping names
for i in soup.find('div',class_="rankings-block__banner--name"):
    name.append(i)                 
for i in soup.find_all('td',attrs="table-body__cell name")[:9]:
    name.append(i.text.split("\n")[1])

# scraping team name
team1 = (soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
team.append((team1[2:5]).replace('\n',''))
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    team.append(i.text.replace('\n',''))
    
#scraping rating
rating.append((soup.find('div',attrs="rankings-block__banner--rating")).text)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
    
    
print(len(name),len(team),len(rating))

10 10 10

In [18]:
# Creating data frame 
df = pd.DataFrame({"Name of Batsmen":name,"Team":team,"Rating(Points)":rating}, index = Rank)
df.to_csv('top_10_odi_batsmen.csv')
print(df)

    Name of Batsmen Team Rating(Points)
1        Babar Azam  PAK            873
2       Virat Kohli  IND            844
3      Rohit Sharma  IND            813
4       Ross Taylor   NZ            801
5       Aaron Finch  AUS            779
6    Jonny Bairstow  ENG            775
7      David Warner  AUS            762
8         Shai Hope   WI            758
9   Kane Williamson   NZ            754
10  Quinton de Kock   SA            743

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [19]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [20]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
rank = range(1,11)
name = []
team = []
rating = []

# scraping names
for i in soup.find_all('div',class_="rankings-block__banner--name")[1:2]:
    name.append(i.text)
for i in soup.find_all('td',class_="table-body__cell name")[9:18]:
    name.append(i.text.replace('\n',''))
    
#scraping team
for i in soup.find_all('div',class_="rankings-block__banner--nationality")[1:2]:
    team.append(i.text.replace("\n","").split()[0])
for i in soup.find_all('span',class_="table-body__logo-text")[9:18]:
    team.append(i.text.replace('\n',''))
    
#scraping ratings
for i in soup.find_all('div',class_="rankings-block__banner--nationality")[1:2]:
    rating.append(i.text.replace("\n","").split()[1])
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[9:18]:
    rating.append(i.text)
    
print(len(name),len(team),len(rating))

10 10 10

In [21]:
# Creating data frame 
df = pd.DataFrame({"Name of baller":name,"Team":team,"ratings":rating},index=rank)
df.to_csv('top_10_odi_bowlers.csv')
print(df,"\n","\n","(row,column) :",df.shape)

      Name of baller Team ratings
1        Trent Boult   NZ     737
2     Josh Hazlewood  AUS     709
3   Mujeeb Ur Rahman  AFG     708
4       Chris Woakes  ENG     700
5       Mehedi Hasan  BAN     692
6         Matt Henry   NZ     691
7     Jasprit Bumrah  IND     679
8     Mitchell Starc  AUS     652
9    Shakib Al Hasan  BAN     650
10     Kagiso Rabada   SA     643

 (row,column) : (10, 3)

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
* a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
* b) Top 10 women’s ODI Batting players along with the records of their team and rating.
* c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [22]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [23]:
#download the page content.
soup = BeautifulSoup(page.content)

#creating empty lists
rank = range(1,11)
team = []
match = []
point = []
rating = []

#scraping top 10 team data
for i in soup.find_all('span',class_="u-hide-phablet")[:10]:
    team.append(i.text)

#scraping matches played by teams
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    match.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text")[:18:2]:
    match.append(i.text)
    
#scraping points
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    point.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text")[1:19:2]:
    point.append(i.text)

#scraping rating
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace("\n","").replace(" ",""))
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
    
print(len(team),len(point),len(match),len(rating))

10 10 10 10

In [24]:
# Creating data frame 
df = pd.DataFrame({"Team":team,"Matches":match,"Points":point,"Rating":rating},index=rank)
df.to_csv('top_10_odi_teams_womens.csv',index = False)
print(df)

            Team Matches Points Rating
1      Australia      17  2,746    162
2   South Africa      19  2,307    121
3        England      18  2,148    119
4          India      17  1,899    112
5     Bangladesh       5    475     95
6    New Zealand      19  1,668     88
7    West Indies      19  1,658     87
8       Pakistan      18  1,226     68
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [25]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [26]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
Rank = range(1,11)
name = []
team = []
rating = []

#scraping names
for i in soup.find('div',class_="rankings-block__banner--name"):
    name.append(i)
for i in soup.find_all('td',class_="table-body__cell name")[:9]:
    name.append(i.text.replace("\n",""))

#scraping team
team1 = (soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
team.append((team1[2:5]).replace('\n',''))   
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    team.append(i.text.replace('\n',''))

#scraping rating
rating.append((soup.find('div',attrs="rankings-block__banner--rating")).text)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)

    
print(len(name),len(team),len(rating))

10 10 10

In [27]:
# Creating data frame 
df = pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating}, index = Rank)
df.to_csv('top_10_odi_batsmen_Women.csv')
print(df)

       Name of Player Team Rating
1         Lizelle Lee   SA    761
2        Alyssa Healy  AUS    750
3         Mithali Raj  IND    738
4      Tammy Beaumont  ENG    728
5   Amy Satterthwaite   NZ    717
6     Smriti Mandhana  IND    710
7         Meg Lanning  AUS    699
8         Beth Mooney  AUS    690
9     Stafanie Taylor   WI    676
10     Heather Knight  ENG    674

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [28]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [29]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
Rank = range(1,11)
name = []
team = []
rating = []

#scraping names
for i in soup.find_all('div',class_="rankings-block__banner--name")[2:]:
    name.append(i.text)
for i in soup.find_all('td',class_="table-body__cell name")[18:27]:
    name.append(i.text.replace("\n",""))
    
#scraping team
for i in soup.find_all('div',attrs="rankings-block__banner--nationality")[2:]:
    team.append(i.text.replace("\n","").replace(" ","")[:2])
for i in soup.find_all('span',class_="table-body__logo-text")[18:27]:
    team.append(i.text.replace('\n',''))

#scraping rating
for i in soup.find_all('div',attrs="rankings-block__banner--rating")[2:]:
    rating.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[18:27]:
    rating.append(i.text)

print(len(name),len(team),len(rating))

10 10 10

In [30]:
# Creating data frame 
df = pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating}, index = Rank)
df.to_csv('top_10_odi_all_rounder_Women.csv')
print(df)

      Name of Player Team Rating
1     Marizanne Kapp   SA    384
2     Natalie Sciver  ENG    372
3       Ellyse Perry  AUS    365
4    Stafanie Taylor   WI    319
5      Deepti Sharma  IND    299
6   Ashleigh Gardner  AUS    275
7   Dane van Niekerk   SA    274
8    Hayley Matthews   WI    272
9      Jess Jonassen  AUS    272
10   Katherine Brunt  ENG    272

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [31]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://coreyms.com/')
page

In [32]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
heading = []
date = []
content = []
vid = []

#scraping the headings
for i in soup.find_all('h2',class_="entry-title"):
    heading.append(i.text)

#Scraping date of publish
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)

#sraping the content
for i in soup.find_all('div',class_="entry-content"):
    content.append(i.text.replace("\n",""))

#Sraping the video link
for i in soup.find_all('iframe',class_="youtube-player"):
    vid.append(i['src'])
vid.insert(4,'Nan') #as there is no video link for heading no. 5

print(len(heading),len(date),len(content),len(vid))

10 10 10 10

In [33]:
# Creating data frame 
df = pd.DataFrame({"Heading":heading,"Date of publish":date,"Content":content,"Video Link":vid})
df.to_csv("details of all the posts from coreyms.csv")
df

,Heading,Date of publish,Content,Video Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,Nan
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar

In [34]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')
page

In [35]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
title =[]
location = []
area = []
price = []
emi = []

#scraping house title
for i in soup.find_all('a',class_="nb__U5JyW"):
    title.append(i.text)

#scraping locations
for i in soup.find_all('div',class_="nb__nXU01"):
    location.append(i.text)

#scraping area
for i in soup.find_all('div',class_="nb__FfHqA"):
    area.append(i.text)

#scraping price
for i in soup.find_all('div',class_="font-semi-bold heading-6")[1::3]:
    price.append(i.text)

#Scraping emi
for i in soup.find_all('div',class_="font-semi-bold heading-6")[2::3]:
    emi.append(i.text)
    
print(len(title),len(location),len(area),len(price),len(emi))

25 25 25 25 25

In [36]:
# Creating data frame 
df = pd.DataFrame({"House Title":title,"Location":location,"Area":area,"Price(Deposite)":price,"EMI":emi})
df.to_csv("house details from nobroker.csv")
df

,House Title,Location,Area,Price(Deposite),EMI
0,2 BHK Flat For Rent In Stanalone Building In...,no 715 2 nd main d block rajaji nagar 2nd stat...,"1,400 sqft","₹1,00,000","₹ 17,000 +₹ 500 Maintenance"
1,1 RK Flat For Rent In Rajajinagar,"Standalone Building, 2nd Block, near O.G. Vari...",250 sqft,"₹40,000","₹ 6,000 +₹ 500 Maintenance"
2,3 BHK Apartment For Rent In Santa Clara Apar...,"Santa Clara Apartments 3rd Rd Cross Rd, 5T Bl...","1,400 sqft","₹1,80,000","₹ 27,000 +₹ 3,000 Maintenance"
3,2 BHK In Independent House For Rent In Jayan...,"Independent House, D'mart ,RBI Colony , Jayana...","1,000 sqft","₹2,00,000","₹ 21,000No Extra Maintenance"
4,1 BHK In Independent House For Rent In Indir...,"Independent House, Near Hotel RagavendraExplor...",324 sqft,"₹50,000","₹ 10,000 +₹ 200 Maintenance"
5,2 BHK In Independent House For Rent In Jayan...,"Independent House, Near Jayanagar Orthopaedic ...",800 sqft,"₹1,20,000","₹ 23,000No Extra Maintenance"
6,2 BHK Apartment For Rent In Gokul Lake View ...,"Gokul Lake View Aprtments 110/18, 19th Cross ...","1,532 sqft","₹1,90,000","₹ 25,000 +₹ 4,500 Maintenance"
7,2 BHK Flat For Rent In Prithvi Kunj In Raja...,"2nd Block,near Rajajinagar Post OfficeExplore ...",950 sqft,"₹3,00,000","₹ 25,000 +₹ 2,000 Maintenance"
8,3 BHK Apartment For Rent In Team Green Wood ...,"Team Green Wood Apartment 3rd Main Rd, Indira...","1,648 sqft","₹2,00,000","₹ 46,000No Extra Maintenance"
9,1 BHK Apartment For Rent In Bangalore Apartm...,Bangalore Apartments Ganesha templeExplore Ne...,500 sqft,"₹1,50,000","₹ 17,000 +₹ 3,000 Maintenance"
10,4 BHK In Independent House For Rent In Btm 1...,"Independent House, near Jayadeva hospitalExplo...","2,250 sqft","₹4,50,000","₹ 45,800 +₹ 1,200 Maintenance"
11,2 BHK In Independent House For Rent In 7th C...,"Independent House, near Ashoka Pillar, 2nd Blo...","1,050 sqft","₹50,000","₹ 20,500No Extra Maintenance"
12,3 BHK In Independent House For Rent In Jayan...,"Independent House, 20th mainExplore Nearby","2,400 sqft","₹8,00,000","₹ 85,000No Extra Maintenance"
13,3 BHK Apartment For Rent In Indus Signature ...,"Indus Signature Indus Signature, Eshwara Layo...","1,652 sqft","₹2,00,000","₹ 37,000 +₹ 6,500 Maintenance"
14,2 BHK In Independent House For Rent In Jayan...,"Independent House, 9th Block , near Hotel sid...",850 sqft,"₹2,00,000","₹ 20,000No Extra Maintenance"
15,2 BHK In Independent House For Rent In Jayan...,"Independent House, hotel siddiqueExplore Nearby",550 sqft,"₹1,76,000","₹ 16,000No Extra Maintenance"
16,2 BHK Apartment For Rent In Srinivasa Reside...,"Srinivasa Residency HAL 2nd Stage, near Khivr...","1,050 sqft","₹1,50,000","₹ 24,000 +₹ 2,000 Maintenance"
17,1 BHK In Independent House For Rent In Tilak...,"Independent House, besides Balamuri Ganapathi ...",450 sqft,"₹60,000","₹ 9,000No Extra Maintenance"
18,3 BHK Flat For Rent In Standalone. Building....,BDA shopping complexExplore Nearby,"2,400 sqft","₹3,60,000","₹ 36,000No Extra Maintenance"
19,3 BHK Apartment For Rent In Santa Clara Apar...,"Santa Clara Apartments Marenahalli, Jayanagar...","1,647 sqft","₹3,00,000","₹ 30,000 +₹ 3,000 Maintenance"
20,3 BHK Apartment For Rent In Phoenix One Ban...,"Phoenix One Bangalore West Dr Rajkumar Rd, o...","2,456 sqft","₹11,00,000","₹ 1,35,000No Extra Maintenance"
21,2 BHK Flat For Rent In Syed Residency In Jay...,"Cake Paradise, 5th Main Road, Canara Bank Colo...","1,000 sqft","₹2,30,000","₹ 23,000No Extra Maintenance"
22,1 RK In Independent House For Rent In Indira...,"Independent House, Chinmaya Mission Hospital R...",350 sqft,"₹80,000","₹ 20,000No Extra Maintenance"
23,2 BHK In Independent House For Rent In Subra...,"Independent House, 18TH MAIN, A BLOCK SUBRAMAN...",800 sqft,"₹1,70,000","₹ 17,000No Extra Maintenance"
24,3 BHK Flat For Rent In Jayanagar,"Standalone Building, 31st cross 2nd main 7th B...","2,000 sqft","₹3,50,000","₹ 35,000No Extra Maintenance"

## 9) Write a python program to scrape mentioned details from dineout.co.in :
* i) Restaurant name
* ii) Cuisine
* iii) Location
* iv) Ratings
* v) Image URL

In [37]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [38]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
name = []
cuisine = []
location = []
rating = []
image =[]

#scraping restaurant names
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text)
    
#scraping cuisine
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split("|")[:][1])

#scraping location
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
    
#scraping ratings
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
    
#scraping image URL
for i in soup.find_all('img',class_="no-img"):
    image.append(i['data-src'])
    
print(len(name),len(cuisine),len(location),len(rating),len(image))

13 13 13 13 13

In [39]:
# Creating data frame 
df = pd.DataFrame({'Restaurant name':name,'Cuisine':cuisine,'Location':location,'Ratings':rating,'Image URL':image})
df.to_csv("Restaurants details from dineout.csv")
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"Barbecue, North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai, Barbecue","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"North Indian, Mughlai","Sector 29, Faridabad",3.7,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Chinese, Barbecue","NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"Multi-Cuisine, Asian, European, Italian, Nort...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [40]:
#Sending the request to the webpage server to get the source coad of the page
page = requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page

In [41]:
soup = BeautifulSoup(page.content) #download the page content.

#creating empty lists
name = []
price = []
image = []

#scraping product name
for i in soup.find_all('div',class_="productCardDetail"):
    name.append(i.text)

#scraping price
for i in soup.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
    
#scraping image URL
for i in soup.find_all('img',class_="productImgTag")[:10]: 
    image.append(i.get('src')) 
    
print(len(name),len(price),len(image))

10 10 10

In [42]:
# Creating data frame 
import pandas as pd
df = pd.DataFrame({'Product_Name':name,'Price':price,'Image_url':image})
df.to_csv('top 10 product details from Bewakoof.csv')
df

,Product_Name,Price,Image_url
0,Yoga se Hoga Women's Half Sleeve T-Shirt₹ 1997...,₹ 199,https://images.bewakoof.com/t320/yoga-se-hoga-...
1,Wink New Half Sleeve Printed T-Shirt₹ 199799₹1...,₹ 199,https://images.bewakoof.com/t320/wink-new-half...
2,Bugs On A Pocket Half Sleeve Printed T-Shirt(L...,₹ 249,https://images.bewakoof.com/t320/bugs-on-a-poc...
3,Minnie Mood Half Sleeve Printed T-Shirt (DL)₹ ...,₹ 199,https://images.bewakoof.com/t320/minnie-mood-h...
4,Goofy Mickey Pocket Half Sleeve Printed T-Shir...,₹ 799,https://images.bewakoof.com/t320/goofy-mickey-...
5,Black Widow Hyperprint Boyfriend T-Shirt₹ 1997...,₹ 199,https://images.bewakoof.com/t320/black-widow-h...
6,Women's Indigo Printed White T-Shirt₹ 199799₹1...,₹ 199,https://images.bewakoof.com/t320/beautiful-thi...
7,All Day Everyday Half Sleeve T-Shirt₹ 199799₹1...,₹ 199,https://images.bewakoof.com/t320/all-day-every...
8,Camera Moments Half Sleeve T-Shirt₹ 199799₹179...,₹ 199,https://images.bewakoof.com/t320/camera-moment...
9,Mickey Pop Block Half Sleeve Printed T-Shirt (...,₹ 199,https://images.bewakoof.com/t320/mickey-pop-bl...